:root {
  --black-1-base: 0, 0, 0;
  --black-1: rgb(var(--black-1-base));  /*  #000000; */
  --black-1-10: rgba(var(--black-1-base), 0.1); /*  #000000; 10% */
  --black-1-30: rgba(var(--black-1-base), 0.3); /*  #000000; 30% */
  --black-2: #283136;
  --black-3: #231F20;
  --white-1-base: 255, 255, 255;
  --white-1: rgb(var(--white-1-base)); /*  #FFFFFF; */
  --white-1-30: rgba(var(--white-1-base), 0.3); /*  #FFFFFF; 30% */
  --light-gray-1: #EEEEEE;
  --light-gray-2: #F2F2F2;
  --gray-1: #A6A6A6;
  --gray-2: #E1E1E1;
  --gray-3: #C1C1C1;
  --gray-4: #D7DCDF;
  --gray-5: #DBDBDB;
  --gray-6: #B4B9BB;
  --gray-7: #D5D5D5;
  --gray-8: #D7DCDE;
  --gray-9: #DFDFDF;
  --dark-gray-1: #4D4D4D;
  --dark-gray-2: #666666;
  --dark-gray-3: #444444;
  --dark-gray-4: #ABABAB;
  --dark-gray-5: rgba(0, 1, 1, 0.1);
  --red-1: #FB565A;
  --red-2: #E74246;
  --red-3: #D7373B;
  --green-1: #00CA74;
  --green-2: #00BC6C;
  --green-3: #00AA62;
  --yellow-1: #EFC849;
  --yellow-2: #EAB534;
  --yellow-3: #E5A722;
  --transparent: transparent;

  /* body variables */

  --main-width: 1200px;
  --main-padding: 20px;

  /* action-button variables */

  --action-button-padding: 40px;
}


/*

    typography

*/


@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


/*

    tags

*/


body {
  min-width: var(--main-width);
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}


/*

    common

*/


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}


/*

    action-button

*/


.action-button {
  display: inline-block;
  margin: 0;
  padding: 17px var(--action-button-padding, 40px) 15px;

  color: var(--white-1);
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  cursor: pointer;
  background-color: var(--red-1);
  border: none;
  border-radius: 3px;
}

.action-button:hover {
  background-color: var(--red-2);
}

.action-button:active {
  color: var(--white-1-30);

  background-color: var(--red-3);
  box-shadow: inset 0 3px 0 var(--dark-gray-5);
}

.action-button--green {
  background-color: var(--green-1);
}

.action-button--green:hover {
  background-color: var(--green-2);
}

.action-button--green:active {
  background-color: var(--green-3);
}

.action-button--yellow {
  background-color: var(--yellow-1);
}

.action-button--yellow:hover {
  background-color: var(--yellow-2);
}

.action-button--yellow:active {
  background-color: var(--yellow-3);
}

.action-button--gray {
  color: var(--black-1);

  background-color: var(--light-gray-1);
}

.action-button--gray:hover {
  background-color: var(--gray-9);
}

.action-button--gray:active {
  color: var(--black-1-30);

  background-color: var(--gray-7);
}


/*

    main-header

*/


.main-header {
  padding: 48px 0 17px;

  background-color: var(--light-gray-1);
}

.main-header__navigation {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: max-content 1fr min-content;
  grid-template-areas: "logo menu basket";
  max-width: var(--main-width);
  margin: 0 auto;
  padding: 0 var(--main-padding);
}

.main-header__logo {
  grid-area: logo;
}

.main-header__logo[href]:active {
  opacity: 0.3;
}

.main-header__menu {
  grid-area: menu;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-header__menu a,
.main-header_basket {
  display: block;
  margin-top: 27px;

  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.main-header__menu a[href]:hover,
.main-header_basket:hover {
  color: var(--red-1);
}

.main-header__menu a[href]:active,
.main-header_basket:active {
  color: var(--black-1-30);
}

.main-header__menu li {
  margin-right: 45px;
}

.main-header__menu a::after {
  content: "";

  display: block;
  width: 100%;
  height: 2px;
  margin-top: 13px;

  background-color: var(--transparent);
}

.main-header__menu a:not([href])::after {
  background-color: var(--red-1);
}

.main-header_basket {
  grid-area: basket;

  display: flex;
}

.main-header_basket::before {
  content: url("/img/basket-icon.svg");

  margin-top: 2px;
  margin-right: 25px;
}


/*

    principles

*/


.principles {
  position: relative;

  background-color: var(--light-gray-1);
}

.principles__slider {
  box-sizing: border-box;
  max-width: var(--main-width);
  margin: 0 auto;
  padding: 0;
}

.principles__control {
  position: absolute;
  bottom: 96px;
  left: 50%;

  display: flex;
  flex-wrap: wrap;

  transform: translateX(-50%);
}

.principles__control li:not(:last-child) {
  margin-right: 17px;
}

.principles__control-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;

  background-color: var(--white-1);
  border: none;
  border-radius: 50%;
}

.principles__control-button--active::after {
  content: "";

  box-sizing: border-box;
  display: block;
  width: 8px;
  height: 8px;

  border: 2px solid var(--gray-3);
  border-radius: 50%;
}

.principles__slide {
  position: relative;

  display: none;
  padding: 10px var(--main-padding);
}

.principles__slide::before {
  position: absolute;
  right: 23px;
  bottom: 0;

  line-height: 0;
}

.principles__slide--slide-1::before {
  content: url("/img/nerds-index-slide-1.png");
}

.principles__slide--slide-2::before {
  content: url("/img/nerds-index-slide-2.png");
}

.principles__slide--slide-3::before {
  content: url("/img/nerds-index-slide-3.png");
}

.principles__slide--active {
  display: block;
}

.principles__slide--no-js {
  display: block;
}

.principles__slide-title {
  width: 516px;
  margin: 45px 0 0;

  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
}

.principles__slide-description {
  margin: 37px 0 26px;

  font-size: 16px;
  line-height: 25px;
}

.principles__slide--slide-1 .principles__slide-description {
  margin: 25px 0 38px;
}

.principles__slide-button {
  --action-button-padding: 55px;

  margin-bottom: 70px;
}


/*

    services

*/


.services {
  grid-column: 2;
  margin-top: 60px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: var(--main-padding);
}

.services__list-item--service-1::before {
  content: url("../img/services-item-1.png");
}

.services__list-item--service-2::before {
  content: url("../img/services-item-2.png");
}

.services__list-item--service-3::before {
  content: url("../img/services-item-3.png");
}

.services__service-title {
  margin: 19px 0 10px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.services__service-description {
  width: 250px;
  margin: 15px 0;

  color: var(--special-black);
}

.services__service-button {
  margin-top: 17px;
}


/*

    about

*/


.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px 150px;
  grid-column: 2;
  margin-top: 39px;
  padding: var(--main-padding);
}

.about::before {
  content: "";

  display: block;
  grid-row: 1;
  grid-column: 1 / -1;
  width: 1158px;
  height: 2px;

  background-color: var(--basic-gray);
}

.about__title {
  margin: 34px 0 33px;

  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about__description {
  color: var(--special-black);
}

.about__services-title {
  margin-top: 41px;

  color: var(--special-black);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about__services-list li {
  display: flex;
  align-items: center;
  margin-top: 24px;

  color: var(--special-black);
}

.about__services-list li::before {
  content: "";

  display: block;
  height: 2px;
  width: 25px;
  margin-right: 11px;

  background-color: var(--basic-red);
}

.about__properties-wrapper::before {
  content: url("../img/nerds-illustration.png");
}

.about__properties-title {
  display: flex;
  justify-content: center;
  margin-top: 30px;

  color: var(--special-black);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.about__properties-list {
  display: flex;
  margin-top: 31px;
}

.about__properties-list div {
  display: flex;
  flex-direction: column-reverse;
}

.about__properties-list div:not(:last-child) {
  margin-right: 23px;
}

.about__properties-list dt {
  margin-top: 11px;

  color: var(--special-black);
  line-height: 18px;
}

.about__properties-list dd {
  margin: 0;

  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.about__properties-list span {
  font-size: 26px;
  line-height: 40px;
  vertical-align: text-top;
}


/*

    partners

*/


.partners {
  grid-column: 2;
  margin: 39px 0;
}

.partners::before,
.partners::after {
  content: "";

  display: block;
  width: 1158px;
  height: 2px;
  margin: 0 auto;

  background-color: var(--basic-gray);
}

.partners__list {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  margin: 45px 0;
}

.partners__list-item {
  display: flex;
  align-items: center;
}

.partners__list-item:not(:first-child)::before {
  content: "";

  display: block;
  height: 52px;
  width: 2px;
  background-color: var(--basic-gray);
}

.partners__list-item--partner-1 {
  margin-top: 15px;
}

.partners__list-item--partner-4 {
  margin-top: 7px;
}

.partners__link {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.partners__link img {
  opacity: 0.2;
}

.partners__link:hover img {
  opacity: 1;
}

.partners__link:active img,
.partners__link:focus img {
  opacity: 0.1;
}


/*

    placement

*/


.placement {
  position: relative;

  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  margin-top: 40px;
}

.placement--catalog {
  margin-top: 52px;
}

.placement__description {
  position: relative;
  z-index: 1;

  box-sizing: border-box;
  grid-row: 2;
  grid-column: 2;
  width: 319px;
  padding: 49px 50px 47px;

  background-color: var(--basic-white);

  transform: translateX(-342px);
}

.placement__description-title {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.placement__description-address,
.placement__description-telephone {
  margin-top: 24px;
  margin-bottom: 15px;

  color: var(--special-mist);
  line-height: 18px;
}

.placement__description-button {
  --action-button-padding: 44px;

  margin-top: 34px;
}

.placement__map {
  position: relative;

  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.placement__map::after {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  margin-top: -122px;
  margin-left: 102px;

  content: url("../img/map-marker.png");
}

.placement__map img {
  margin: 0 auto;
}


/*

    main-footer

*/

.main-footer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: var(--main-width);
  margin: 66px auto;
  padding: 0 var(--main-padding);
}

.main-footer__links-list {
  display: flex;
}

.main-footer__links-list li:not(:last-child) {
  margin-right: 10px;
}

.main-footer__link {
  display: flex;
  justify-content: center;
  width: 81px;
  height: 81px;

  background-color: var(--special-mist);
  border-radius: 50%;
}

.main-footer__link:hover {
  background-color: var(--special-red);
}

.main-footer__link:active,
.main-footer__link:focus {
  background-color: var(--decorated-red);
}

.main-footer__link:active img,
.main-footer__link:focus img {
  opacity: 0.3;
}

.main-footer__promotion-wrapper {
  padding: 0 14px;
}

.main-footer__promotion-title {
  margin: 9px 0 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.main-footer__promotion-description {
  margin: 11px 0;

  color: var(--decorated-black);
  line-height: 22px;
}


/*

    popup

*/


.popup__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
}

.popup__close-button {
  display: block;
  width: 21px;
  height: 21px;

  cursor: pointer;
  background-color: transparent;
  background-image: url("../img/close-cross.svg");
  border: none;
  opacity: 0.3;
}

.popup__close-button:hover {
  opacity: 1;
}

.popup__close-button:active,
.popup__close-button:focus {
  opacity: 0.1;
  outline: none;
}

.popup__field label {
  font-weight: bold;
  line-height: 18px;
}

.popup__field input,
.popup__field textarea {
  padding: 16px;

  line-height: 18px;

  background-color: var(--basic-white);
  border: 2px solid var(--basic-dust);
  border-radius: 3px;
}

.popup__field textarea {
  resize: none;
}

.popup__field input:hover,
.popup__field textarea:hover {
  border-color: var(--special-dust);
}

.popup__field input:invalid,
.popup__field textarea:invalid {
  border-color: var(--special-red);
}

.popup__field input::placeholder,
.popup__field textarea::placeholder {
  color: var(--decorated-black);

  opacity: 0.5;
}

.popup__field input:focus::placeholder,
.popup__field textarea:focus::placeholder {
  opacity: 1;
}

.popup__field input:invalid::placeholder,
.popup__field textarea:invalid::placeholder {
  color: var(--special-red);

  opacity: 1;
}

.popup__submit {
  --action-button-padding: 83px;
}


/*

templates

*/


.templates {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  grid-column: 2;
  padding: 0 var(--main-padding);
}

.templates fieldset {
  border: none;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

.templates legend {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.templates__filter-form {
  grid-row: 1 / -1;
  grid-column: 1;
  margin: 0;
}

.templates__cost-wrapper {
  margin-top: 58px;
}

.templates__cost-title {
  width: 100%;
}

.templates__cost-range-wrapper {
  height: 80px;
  width: 260px;
  margin-top: 52px;

  background: var(--basic-gray);
  border-radius: 3px;
}

.templates__fields-cost-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 14px;
}

.templates__cost-range {
  display: block;
  margin: 0;
}

.templates__field-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.templates__field-cost:not(:last-child) {
  margin-right: 34px;
}

.templates__field-cost label {
  margin-right: 12px;

  color: var(--special-black);
  line-height: 22px;
  text-transform: uppercase;
}

.templates__field-cost input {
  width: 61px;
  height: 38px;
  padding: 0;
  padding-left: 18px;

  color: var(--special-black);
  line-height: 22px;
  text-align: center;

  background: var(--basic-gray);
  border: none;
  border-radius: 3px;
}

.templates__grid-wrapper {
  margin-top: 56px;
}

.templates__grid-title {
  margin-bottom: 3px;
}

.templates__field-grid {
  margin-top: 15px;
}

.templates__field-grid-label,
.templates__field-features-label {
  color: var(--special-black);
  line-height: 20px;
}

.templates__field-grid-input:not(:disabled) + .templates__field-grid-label:hover::before,
.templates__field-grid-input:not(:disabled):focus + .templates__field-grid-label::before,
.templates__field-features-input:not(:disabled) + .templates__field-features-label:hover::before,
.templates__field-features-input:not(:disabled):focus + .templates__field-features-label::before {
  opacity: 1;
}

.templates__field-grid-input:disabled + .templates__field-grid-label,
.templates__field-features-input:disabled + .templates__field-features-label {
  cursor: default;
  opacity: 0.3;
}

.templates__field-grid-label {
  --check-size: 25px;
  --check-border: 4px;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.templates__field-grid-label::before {
  content: "";

  box-sizing: border-box;
  display: block;
  width: var(--check-size);
  height: var(--check-size);
  margin-right: 11px;

  background-color: var(--basic-white);
  border: var(--check-border) solid var(--special-check);
  border-radius: 50%;
  opacity: 0.4;
}

.templates__field-grid-input:checked + .templates__field-grid-label::after {
  content: "";

  position: absolute;
  margin-left: calc(2 * var(--check-border));

  display: block;
  width: calc((var(--check-size) - 4 * var(--check-border)));
  height: calc((var(--check-size) - 4 * var(--check-border)));

  background-color: var(--special-check);
  border-radius: 50%;
  opacity: 0.4;
}

.templates__field-grid-input:checked:focus + .templates__field-grid-label::after,
.templates__field-grid-input:not(:disabled):checked + .templates__field-grid-label:hover::after {
  opacity: 1;
}

.templates__features-wrapper {
  margin-top: 45px;
}

.templates__features-title {
  margin-bottom: 1px;
}

.templates__field-features {
  margin-top: 17px;
}

.templates__field-features-label {
  --check-size: 23px;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.templates__field-features-label::before {
  content: "";

  box-sizing: border-box;
  display: block;
  width: 22px;
  height: 23px;
  margin-right: 14px;

  border: 2px solid var(--special-check);
  border-radius: 3px;
  opacity: 0.4;
}

.templates__field-features-input:checked + .templates__field-features-label::before {
  width: 25px;
  margin-right: 11px;

  background-color: var(--basic-white);
  background-image: url("../img/checkbox-on.svg");
  border: none;
}

.templates__filter-submit {
  --action-button-padding: 88px;

  margin-top: 48px;
}

.templates__sort-form {
  grid-row: 1 / 2;
  grid-column: 2 / 4;
  margin: 39px 0 30px;
}

.templates__sort-wrapper {
  display: flex;
  padding: 22px 0;
}

.templates__sort-title {
  flex-grow: 1;
  margin-top: -3px;
}

.templates__field-sort {
  margin-right: 26px;

  color: var(--black-1);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  opacity: 0.3;
}

.templates__field-sort input:hover + label {
  color: var(--basic-black-opacity-6);
}

.templates__field-sort input:active + label,
.templates__field-sort input:focus + label,
.templates__field-sort input:checked + label {
  color: var(--black-1);
}

.templates__field-sort-direction label {
  display: block;
  width: 0;
  height: 0;
  margin-top: 4px;
  margin-left: 20px;

  cursor: pointer;
  border: 5px solid var(--basic-transparent);
  border-top: 10px solid var(--basic-peace);
  opacity: 0.2;
}

.templates__field-sort-direction label:hover {
  opacity: 1;
}

.templates__field-sort-direction input:active + label,
.templates__field-sort-direction input:focus + label,
.templates__field-sort-direction input:checked + label {
  border-top-color: var(--special-peace);
  opacity: 1;
}

.templates__field-sort-direction--ascending label {
  border-top-style: hidden;
  border-bottom: 10px solid var(--basic-peace);
}

.templates__field-sort-direction--ascending input:active + label,
.templates__field-sort-direction--ascending input:focus + label {
  border-top-style: hidden;
  border-bottom-color: var(--special-peace);
  opacity: 1;
}

.templates__field-sort input:disabled + label,
.templates__field-sort-direction input:disabled + label {
  display: none;
}

.templates__list-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row: 2;
  grid-column: 2 / 4;
  column-gap: 40px;
  row-gap: 32px;
}

.templates__item-wrapper {
  position: relative;
}

.templates__item-wrapper::before {
  content: url("../img/browser.svg");

  display: block;

  line-height: 0;
}

.templates__item-wrapper img {
  margin: 0 auto;
}

.templates__item-info {
  position: absolute;

  display: none;

  background-color: var(--basic-gray);
}

.templates__item-title {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.templates__item-title:hover {
  color: var(--basic-red);
}

.templates__item-title:active,
.templates__item-title:focus {
  color: var(--basic-black-opacity-3);

  outline: none;
}

.templates__item-description {
  color: var(--special-mist);
  line-height: 18px;
}

.templates__item-button {
  --action-button-padding: 72px;
}

.templates__pagination {
  --side-padding: 20px;

  display: flex;
  grid-column: 2 / 4;
  grid-row: 3;
  margin-top: 56px;
}

.templates__pagination li {
  margin-right: 11px;
}

.templates__page-button {
  --action-button-padding: var(--side-padding);
}

.templates__page-button--next {
  --action-button-padding: 78px;
}

.templates__page-button:not([href]) {
  --width-border: 3px;

  padding-left: calc(var(--side-padding) - var(--width-border));
  padding-right: calc(var(--side-padding) - var(--width-border));

  cursor: default;
  background-color: var(--basic-white);
  border: var(--width-border) solid var(--decorated-mist);
}

.templates__page-button:not([href]):hover,
.templates__page-button:not([href]):active {
  color: inherit;

  box-shadow: none;
}
